.App {
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}
.container {
  padding: 10px;
  margin: auto;
  width: 1000px;
  height: 2000px;
}
table {
  border-collapse: collapse;
  border: 2px solid white;
}
td {
  border: 1px solid;

}
.left-column {
  margin-top: 100px;
  margin-left: 100px;
  float: left;
  position: absolute;
}
.right-column {
  float: right;
  margin-top: 100px;
}
.computer-box {
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid black;
  font-size: 1em;
}
.players {
  position: relative;
  clear: both;
  text-align: right;
  line-height: 30px;
  margin-bottom: 10px;
}
label{
  float: left;
  padding-right: 10px;
}
.radio{
  display: inline-block;
  margin-top: 10px;
  font-size: 1.5em;
}
.grid {
  padding: 25px;
}
.grids-render {
  margin: 20px ;
  height: 99px;
  width: 99px;
  cursor: pointer;
}
.xclicked {
  margin: 0;
  height: 99px;
  width: 99px;
  background-image: url("x1.png");
}
.oclicked {
  margin: 0;
  height: 99px ;
  width: 99px ;
  background-image: url("o.png");
}
.button {
  margin-left: 105px;
  padding: 10px;
}
.inputs {
  border: 1px solid;

  border-radius: 2px;
}
.checkbox {
  position: relative;
  //margin: 3px 0 0 -23px;
  float: right;
  font-size: 1.5em;
  z-index: 2;
}
.checkbox-X {
  position: relative;
  float: left;
  font-size: 1.5em;
}
.computer-label {
  position: absolute;
  left: 80px;
}
.disable {
    pointer-events: none;
    background: white;
}
.customButton {
  height: 50px;
  width: 80px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 2px;
  cursor: pointer;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
